asgiref==3.7.2
asttokens==2.4.1
backcall==0.2.0
backports.zoneinfo==0.2.1
colorama==0.4.6
cycler==0.12.1
decorator==5.1.1
distlib==0.3.7
Django==4.2.8
executing==2.0.1
filelock==3.13.1
fonttools==4.46.0
greenlet==3.0.1
ipython==8.12.3
jedi==0.19.1
kiwisolver==1.4.5
matplotlib @ file:///C:/Users/ducas/Documents/practice/django_books/src/matplotlib-3.5.2-cp38-cp38-win_amd64.whl#sha256=48dedd29abea5e524f3ccc53bd472c1439a11b7d03cf04e137c61a179fb3a323
matplotlib-inline==0.1.6
mysqlclient==2.2.0
numpy==1.24.4
packaging==23.2
pandas==2.0.3
parso==0.8.3
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==4.1.0
prompt-toolkit==3.0.41
pure-eval==0.2.2
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.23
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
wcwidth==0.2.10
psycopg2-binary==2.8.6