{%load static%}

<!DOCTYPE html>
<!-- django syntax for writting python code in an HTML file -->

<head>
    <title>All Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/second_bg.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>

<body class="details-page">
    <container class="details-page__container">

        <h2>{{object.name}}</h2>
        <p>Cooking time: {{object.cooking_time}} </p>
        <p>Ingredients: {{object.ingredients}}</p>
        <p>Difficulty: {{object.getDifficulty}} </p>
        <img src="{{object.image.url}}" width="500" height="500" />
    </container>
</body>