{%load static%}

<!DOCTYPE html>
<!-- django syntax for writting python code in an HTML file -->

<head>
    <title>All Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/third_bg.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <main class="recipes-table">
        <section class="recipes-table__title">
            <h3>All our Recipes</h3>
        </section>
        {% for object in object_list %} {% comment%} go through each element of Recipe’s list {% endcomment%}
        <section class="recipes-table__items">
            <div class="recipe-name"><a href="{{object.get_absolute_url}}"> {% comment%} add links to book names {% endcomment%}
                    {{object.name}}
                </a></div>
            <div class="recipe-image"><img src="{{object.image.url}}" width="150" height="200" /></div>

        </section>
        {% endfor %}
    </main>
</body>