
/* HOME PAGE */
.home-page {
    justify-content: center;
    align-items: center;
    color: #d6d6d6;
}

.home-page h1{
    
    text-align: center;
}

.home-page__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    text-decoration: none;
}
.home-page__container a:visited{
    text-decoration: none;
    color: #d6d6d6;
}
.welcome{
    margin: 70px;
}
.main-menu{
    margin-left: 250px
}
.main-menu__list{
    font-size: large;
}

/* ALL RECIPES */

.recipes-table{
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}
.recipes-table__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.recipe-name{
    font-size: larger;
    text-align: center;
    margin-top: 30px;
}

/* DETAILS VIEW */

.details-page{
    color: black;
    font-size: larger;
}
.details-page__container{
    display: flex;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
}

.details-page__container img{
    border-radius: 10%;
}
.calc{
    display: none;
}