:root {
    --primary-color: #d6d6d6;
    --font-size-default: 20px;
    --card-color: #ead0d0;
  }

body {
    background-color:#c6e4e8 !important;
    background-image: url("../images/home_page_small.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--primary-color);
}

/* NAVBAR */

.nav-link{
    font-weight: 700!important;
}

/* HOME PAGE */
.home-page {
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.home-page h1{
    text-align: center;
}

.home-page__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    text-decoration: none;
}
.home-page__container a:visited{
    text-decoration: none;
    color: var(--primary-color);
}
.welcome{
    margin: 2em;
}
.main-menu{
    margin-left: 15em;
    padding: 2em;
}
.main-menu__list {
    font-size: large;
    display: flex;
    flex-direction: column;
}
.main-menu__list a{
    color: #fff;
}


/* ALL RECIPES */

.recipes-table{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 50px 30px;
    background-color: rgba(242, 250, 241, 0.7);
    border-radius: 10px;
}


.recipes-table__title{
    margin-bottom: 50px;
}

.recipe-name{
    font-size: larger;
    text-align: center;
    margin: 30px 0 15px;
}
.recipe-name a{
   color: black;
}
.recipe-image{
    border-radius: 10%;
    object-fit: cover;
}

/* DETAILS page */

.details-page {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin: 0 25%
}

.details-card {
    background-color: rgba(242, 250, 241, 0.7) !important;
    padding: 20px; /* Add padding to the card body */
    margin: 50px ;
    min-height: 400px;
    min-width: 250px!important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card-first {
    margin: 20px auto 0;
    text-align: center;
}

.card-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detail-image {
    max-width: 50%;
    max-height: 100%; /* Adjust height to maintain aspect ratio */
    border-radius: 10px; /* Correct the property value */
    overflow: hidden; /* Hide overflowing content */
    margin-right: 20px;
}

.detail-image img {
    width: 100%; /* Fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Fit the image within the container */
}

.detail-btn {
    width: 150px;
    margin-bottom: 10px; /* Adjust margin */
}

.card-links{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* LOGIN PAGE */

.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4em;
    color: var(--primary-color);
}

.login-page h1{
    padding:3em; 
    margin-bottom: 1em;
}

.login-form{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-default);
}
.login-form label{
    font-size: var(--font-size-default);
}
.login-form *{
    margin: 10px
}

.back-btn{
    margin: 3em auto 0;
    display: block!important;
    max-width: 200px;
   
}
/* SIGNUP PAGE */

.signup-form{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-default);
}
.signup-form label{
    font-size: var(--font-size-default);
    display: block;
}
.signup-form *{
    margin: 10px
}
/* CREATE RECIPE PAGE */

.create-recipe{
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    color: var(--primary-color);
}
.create-recipe h1{
    margin: 5em 0 0 12em;
}
.recipe-form{
    display: flex;
    flex-direction: column;
    margin: 1em 0 5em 20em;
}

.recipe-form label{
    display: block;
}
.recipe-form input{
    margin: 10px 0;
}
.recipe-form button{
    margin-top: 20px;
}

.recipe-form a {
        color: var(--primary-color)!important;
        text-decoration: none;
}

/* SUCCESS PAGE */
.success-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 0 0 300px;
    color: var(--primary-color);
}
.success-page a{
    margin-top: 50px;
}

/* SEARCH PAGE */
.recipe-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding: 20px 0
}

.search-form{
    padding: 15px
}
.search-form label{
    margin: 0 20px;
}

.search-form button{
    margin: 0 20px;
}

#id_search_type{
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

#id_search_value{
    width: 125px;
}

.results-table{
    margin: 50px 200px;
    width: 60% !important;
    border-radius: 10% !important;
    padding: 20px !important;
}

.charts{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.charts img{
    margin: 25px;
    border-radius: 10px;
    width: 70%;
}

@media screen and (max-width:580px){
    .login-page{
        flex-direction: column;
        justify-content: flex-start;
    }
    .login-page h1{
        padding: 20px !important; 
    }
    
}
@media screen and (min-width:992px){
    body{
        background-image: url("../images/home_page.jpg");
    }

    .card-second {
    flex-direction: row;
    }
    .charts {
        flex-direction: row;
    }
    
}

@media screen and (min-width:600px) and (max-width:900px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:501px) and (max-width:650px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen  and (max-width:501px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:700px){
    .create-recipe h1 {
        margin: 35px auto;
    }
    .recipe-form {
        margin: 4em auto;
    }
    .search-form{
        display: flex;
        flex-direction: column;
    }
    .search-form >* {
        margin:2em 0;
    }
    .welcome{
        margin: 1em 2em 0;
    }
    .main-menu{
        margin: 2em auto;
        padding: 2em;
    }
}